@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  /* colors */
  --color-grey-950: #111517;
  --color-grey-400: #808080;
  --color-grey-350: #979797;
  --color-grey-300: #B2B2B2;
  --color-grey-250: #C4C4C4;
  --color-grey-50: #FCFCFC;
  --color-blue-950: #202C36;
  --color-blue-900: #2B3844;

  /* fonts */
  --font-nunito-sans: var(--font-nunito-sans);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-color: #808080;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z' /%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z' /%3E%3C/svg%3E%0A");
  background-size: 1.25rem 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
  transition: background-color 0.35s ease-in-out;
}

.dark [type='search']::-webkit-search-cancel-button {
  background-color: #ffffff;
}